.profile__avatar-button {
  background-color: #0000;
  border-radius: 50%;
  border-color: #0000;
  background-image: url(../../../images/pen.png);
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
}


.profile__avatar-button:hover {
 cursor: pointer;

}


@media screen and (max-width: 712px) {
  .profile__avatar-button {
    margin: 0 auto 10px;
    grid-row: 1;
    place-self: center;

  }
}