.profile__edit-button {
  padding: 0;
  color: rgba(0, 0, 0, 0);
  background-color: transparent;
  font-size: 12px;
  background-image: url(../../../images/button_edit.svg);
  background-size: cover;
  background-position: center center;
  width: 24px;
  height: 24px;
  margin: 0 0 25px 18px;
  grid-row: 1;
  grid-column: 3;
  place-self: end;

}

.profile__edit-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 710px) {
  .profile__edit-button {
    grid-row: 2;
    grid-column: 2;
  }
}

@media screen and (max-width: 520px) {
  .profile__edit-button {
    grid-row: 2;
    grid-column: 3;
  }
}

@media screen and (max-width: 435px) {
  .profile__edit-button {
    grid-column: 1;
    margin: 0;
    place-self: center end;
    width: 18px;
    height: 18px;
  }
}