.profile__person {
  display: flex;
  align-items: end;
  

}

@media screen and (max-width: 712px) {
  .profile__person {
    justify-content: space-between;

  }
}

@media screen and (max-width: 435px) {
  .profile__person {
    flex-direction: column;
        
  }
}