.profile__person {
  display: flex;
  
}

@media screen and (max-width: 712px) {
.profile__person {
  display: flex;
  justify-content: space-between;
  
}
}

@media screen and (max-width: 485px) {
  .profile__person {
    flex-direction: column;
  }
}