.profile__person {
  display: grid;
  grid: repeat(2, min-content) / repeat(3, auto);
}


@media screen and (max-width: 600px) {
  .profile__person {
    grid: min-content / auto;
    grid-auto-flow: row;
  }

}

@media screen and (max-width: 435px) {
  .profile__person {
    grid: min-content / auto;
    grid-auto-flow: row;
  }

}
