.popup__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 155px;
 }

 @media screen and (max-width: 435px) {
  .popup__container {
  margin-top: 105px;
}
 }
