.popup__container {
  max-width: 470px;
  max-height: 370px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 47%;
  right: 0;
  display: flex;

}

@media screen and (max-width: 435px) {
  .popup__container {
    top: 0;
    bottom: 38%;
    left: 12%;
    width: 280px;
    height: 320px;
    flex-direction: column-reverse;
    margin: auto;
  }

}

