.popup__container {
  max-width: 470px;
  max-height: 370px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 47%;
  right: 0;
  display: flex;

}

@media screen and (max-width: 435px) {
  .popup__container {
   bottom: 44%;
    left: 14%;
    width: 280px;
    height: 345px;
    flex-direction: column-reverse;
    
  }

}

