.popup__container {
  margin: 195px auto 0;
  position: relative;
  width: 430px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #fff;

}

@media screen and (max-width: 510px) {
  .popup__container {
    margin: 123px auto 0;
    width: 282px;
    height: 322px;
    align-items: center;

  }
}