.profile {
  max-width: 880px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 712px) {
  .profile {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    

  }
}


/* @media screen and (max-width: 630px) {
  .profile {
    grid: repeat(4, auto) / auto;

  }
} */

