.popup__content {
  width: 430px;
  height: 330px;
  margin: 8px 40px 8px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 36px;
  box-sizing: border-box;
  
  

}

@media screen and (max-width: 435px) {
  .popup__content {
    width: 280px;
    height: 320px;
    margin: 8px auto 8px;
    padding: 25px 0;
    
  }

}