.popup__content {
  width: 430px;
  height: 330px;
  margin: 8px 40px 8px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  background-color: #fff;
  border-radius: 10px;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  
  

}

@media screen and (max-width: 510px) {
  .popup__content {
    width: 280px;
    height: 320px;
    margin: 16px auto 8px;
    padding: 25px 0;
    align-items: center;
    
  }

}