.popup__title-image {
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 10px 0 0 0;
}


@media screen and (max-width: 510px) {
  .popup__title-image {
    font-size: 18px;
    margin: 0 0 70px 0;
  }
}