.page__profile {
  margin: 0 auto 50px;
}


@media screen and (max-width: 768px) {
  .page__profile {
    margin:0 30px 30px;
  }
}

@media screen and (max-width: 435px) {
  .page__profile {
    margin: 0 auto 36px;
  }
}