.profile__subtitle {
  margin: 0;
  color: #fff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: auto;
  font-weight: 400;
  grid-row: 2;
  grid-column: 1;
}

  @media screen and (max-width: 485px) {
  .profile__subtitle {
    place-self: center;
    align-items: start;
    font-size: 14px;
    

  }
}
/*
@media screen and (max-width: 6px) {
  .profile__subtitle {
    grid-row: 3;
    grid-column: 1;
    margin: 0 0 16px 0;

  }
}


@media screen and (max-width: 435px) {
  .profile__subtitle {
    margin: 0 0 36px 0;
  }
} */