.profile__title {
  display: block;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
  grid-row: 1;
  grid-column: 1;
  place-self: center;
}


@media screen and (max-width: 435px) {
  .profile__title {
    font-size: 27px;
    align-items: end;
  }
}