.popup__form {
  min-height: 322px;
  max-height: 330px;
  min-width: 282px;
  max-width: 430px;
  margin: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 36px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 10px;
  place-self: end;

}