.popup__form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0 0 40px 36px;
}

@media screen and (max-width: 510px) {
  .popup__form {
    margin: 0 auto 25px;

  }
}