.footer__copyright {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #545454;
  margin: 0;
  padding: 0;
  text-align: left;
  display: inline-block;
  
}

@media screen and (max-width: 880px) {
  .footer__copyright {
  margin: 0 0 0 10%;
}

}




@media screen and (max-width: 435px) {
  .footer__copyright {
    font-size: 14px;

  }
}

