.popup__button-close {
  border: none;
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: transparent;
  background-image: url('../../../images/button_close.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0);
  place-self: start;
}

.popup__button-close:hover {
  opacity: .6;
  cursor: pointer;

}

@media screen and (max-width: 435px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    place-self: end;

  }
}