.profile__avatar {
  max-width: 120px;
  max-height: 120px;
  margin: 0;
  
}

@media screen and (max-width: 630px) {
.profile__avatar {
  margin: 0 auto 20px;
  grid-row: 1;
  place-self: center;
 
}
}