.profile__avatar {
  max-width: 120px;
  max-height: 120px;
  margin: 0 30px 0 0;
  grid-row: span 2;
  grid-column: 1;
}

@media screen and (max-width: 435px) {
.profile__avatar {
  margin: 0 auto;
  grid-row: 1;
}
}