@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
  @import url(../blocks/page/_content/page_content.css);
  @import url(../blocks/page/__header/page__header.css);
  @import url(../blocks/page/__profile/page__profile.css);
  @import url(../blocks/page/__elements/page__elements.css);
  @import url(../blocks/page/__footer/page__footer.css);


@import url(../blocks/logo/logo.css);
@import url(../blocks/header/header.css);

@import url(../blocks/profile/profile.css);
  @import url(../blocks/profile/__avatar/profile__avatar.css);
  @import url(../blocks/profile/__title/profile__title.css);
  @import url(../blocks/profile/__subtitle/profile__subtitle.css);
  @import url(../blocks/profile/__button/profile__button.css);
  @import url(../blocks/profile/__person/profile__person.css);
  @import url(../blocks/profile/__edit-button/profile__edit-button.css);
  @import url(../blocks/profile/__block-name/profile__block-name.css);

@import url(../blocks/elements/elements.css);

@import url(../blocks/card/card.css);
  @import url(../blocks/card/__image/card__image.css);
  @import url(../blocks/card/__sign/card__sign.css);
  @import url(../blocks/card/__location/card__location.css);
  @import url(../blocks/card/__like/card__like.css);
  @import url(../blocks/card/__like/card__like_state_active.css);
  @import url(../blocks/card/__trash/card__trash.css);
  @import url(../blocks/card/__like/card__like_state_hover.css);

@import url(../blocks/footer/footer.css);
  @import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/popup/popup.css);
  @import url(../blocks/popup/_opened/popup_opened.css);
  @import url(../blocks/popup/__container/popup__container.css);
  @import url(../blocks/popup/__button-close/popup__button-close.css);
  @import url(../blocks/popup/__title/popup__title.css);
  @import url(../blocks/popup/__button-submit/popup__button-submit.css);
  @import url(../blocks/popup/__input/popup__input.css);
  @import url(../blocks/popup/__form/popup__form.css);

