.profile__block-name {
  display: grid;
  grid: min-content / auto auto;
  row-gap: 16px;
  column-gap: 18px;
  margin: 0 0 0 30px;
}


@media screen and (max-width: 435px) {
  .profile__block-name {
    row-gap: 0;
  }
}