.popup__button-submit {
  background-color: #000;
  width: 358px;
  height: 50px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;

}

.popup__button-submit:hover {
  opacity: .8;
  cursor: pointer;

}

@media screen and (max-width: 435px) {
  .popup__button-submit {
    width: 238px;
    height: 46px;
    font-size: 14px;

  }
}