.popup__button-closeimage {
  border: none;
  width: 32px;
  height: 32px;
  padding: 0;
  background: none;
  background-image: url('../../../images/button_close.svg');
  background-repeat: no-repeat;
  background-size: contain;
  place-self: end;
  margin-right: -35px;
 
}

.popup__button-closeimage:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 510px) {
  .popup__button-closeimage {
    width: 20px;
    height: 20px;
    background-size: cover;
    margin-right: -20px;
  }
}