.profile__button {
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-size: 22px;
  opacity: 1;
}

.profile__button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 712px) {
  .profile__button {
    width: 284px;
    margin: 20px auto;
  }
}

@media screen and (max-width: 435px) {
  .profile__button {
    width: 284px;
    margin: 36px auto 0;
  }
}