.profile__button {
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  background-color: #000;
  color: #fff;
  font-size: 22px;
  opacity: 1;
}

.profile__button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 435px) {
  .profile__button {
    width: 288px;
    grid-row: 4;
    grid-column: 1;
  }
}

@media screen and (max-width: 435px) {
  .profile__button {
    width: 288px;
    grid-row: 4;
    grid-column: 1;
  }
}