.card {
  width: 280px;
  height: 360px;
  border: 1px solid #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
}

@media screen and (max-width: 435px) {
  .card {
    margin: 0 auto;
  }
}